@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  box-sizing: border-box;
}

.time-holder,
.btn-holder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4rem;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70%;
  margin: 0 auto;
}

.time-holder {
  margin-top: 36px;
}

.btn-holder {
  margin: 0 auto;
  gap: 24px;
  margin-top: 72px;
  flex-wrap: wrap;
}

.toggle {
  font-size: 18px;
  line-height: 24px;
  border: 2px solid;
  border-radius: 4px;
  padding: 8px;
  letter-spacing: 2px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.semi-colon {
  opacity: 1;
  animation-name: blink;
  animation-duration: 1100ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@media (min-width: 320px) and (max-width: 768px) {
  .time-holder {
    gap: 4px;
    font-size: 3rem;
  }
}
