@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
$font: "Quicksand",
sans-serif;

body {
    background-image: linear-gradient(115deg, #ffc43dff, #f24236ff);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0b4047ff;
    position: relative;


    &::after {
        content: "";
        position: absolute;
        background-color: #000;
        z-index: 3;
        border-radius: 50%;
        transform: translateX(-50%) translateY(50%);
        width: 30px;
        height: 30px;
        left: 50%;
        bottom: 50%;
    }
}

.number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: $font;
    transform: rotate(var(--rotation));

    &--1 {
        --rotation: 30deg;
    }

    &--2 {
        --rotation: 60deg;
    }

    &--3 {
        --rotation: 90deg;
    }

    &--4 {
        --rotation: 120deg;
    }

    &--5 {
        --rotation: 150deg;
    }

    &--6 {
        --rotation: 180deg;
    }

    &--7 {
        --rotation: 210deg;
    }

    &--8 {
        --rotation: 240deg;
    }

    &--9 {
        --rotation: 270deg;
    }

    &--10 {
        --rotation: 300deg;
    }

    &--11 {
        --rotation: 330deg;
    }
}

.hand {
    --rotation: 0;
    position: absolute;
    height: 50%;
    left: 50%;
    bottom: 50%;
    background-color: #000;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    z-index: 2;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    &--second {
        height: 45%;
        width: 2px;
        background-color: #f24236ff;
    }

    &--minute {
        height: 35%;
        width: 6px;
        background-color: #000;
    }

    &--hour {
        height: 30%;
        width: 10px;
        background-color: #000;
    }

}